body {
	
	background-repeat: X;
}
h1 {
	background-color:#483;
	text-align:center;
	color:#1f6a;
}
p {
	color:white;
	/* background-color:black; */
	background-image: url('notificacion.png');
	font-size:19px;
	text-transform:capitalize;
}

ul {
	display:inline;
	color:blue;
}





